<style>

register  section.image-1 {
    background-image: url("../../vendor/images/oration.jpg")
}

register > section {
    padding-left: 4px;
    padding-right: 4px;
}

register .modal-container {
    min-height: 200px;
    max-width: 960px;
    width: 100%;
    background-color: #FFF;
    border-radius: 4px;
    margin: 1rem auto;
    padding: 1rem;
}

register .modal-header {
    margin: 0;
    border-bottom: solid 1px #CCC;
    padding-bottom: 16px;
    text-align: center;
}

register .modal-content {
    display: block;
    word-wrap: break-word !important;
    min-height: 80px;
}

register .modal-content p {
    word-wrap: break-word !important;
    text-align: center;
}

register .modal-footer {
    text-align: right;
    border-top: solid 1px #CCC;
    padding-top: 16px;
}

register .modal-footer > button.btn {
    font-size: 1.3rem;
    padding: 12px 48px;
    height: auto;
}
</style>

<link rel="stylesheet" type="text/css" href="app/form/form.css">

<link rel="stylesheet" type="text/css" href="app/register/register.css">

<section class="bg-image image-1" xs="1-12">

    <form class="form" ng-submit="register(registry)" xs="1-12">
        <legend>Cadastro da Escola Dominical</legend>
        <label>Nome:</label>
        <input type="text" name="name" ng-model="registry.name" class="{{valid.name}}" placeholder="Seu nome" >
        
        <label>Email:</label>
        <input type="email" name="email" ng-model="registry.email" class="{{valid.email}}" placeholder="exemplo@.com">

        <label>Telefone:</label>
        <input type="tel" name="telefone" 
            ng-model="control.tel"
            ng-keypress="control.maskTel()"
            ng-keyup="control.clearMaskTel()"
        class="{{valid.telefone}}" 
        placeholder="(xx) xxxxxxxx">

        <label>Data de Nascimento:</label>
        <input type="text" name="birthday" 
            ng-model="control.date" 
            ng-keypress="control.maskDate()"
            ng-keyup="control.clearMaskDate()"
            placeholder="dd/mm/aaaa"
        class="{{valid.birthday}}">

        <label class="{{valid.marital}}">Estado Civil:</label>
        <label class="label-radio"><input type="radio" name="marital" value="single" ng-model="registry.marital">Solteiro</label>
        <label class="label-radio"><input type="radio" name="matital" value="married"ng-model="registry.marital">Casado</label>
        
        <label class="divider"></label>

        <label class="{{valid.genre}}">Sexo:</label>
        <label class="label-radio"><input type="radio" name="genre" value="male" ng-model="registry.genre">Masculino</label>
        <label class="label-radio"><input type="radio" name="genre" value="female"ng-model="registry.genre">Feminino</label>

        <label class="divider"></label>

        <label class="label-select">Classe da Escola Dominical:</label>
        <select name="class" ng-model="registry.class" class="{{valid.class}}">
            <option value="" disabled>Escolha uma classe</option>
            <option value="{{cl}}" ng-repeat="cl in control.classes">{{cl}}</option>
        </select>
        <span class="form-alert red">
            <em ng-repeat="alert in valid.alert">{{alert}}</em>
        </span>
        <button class="btn bg-yellow" type="submit">Cadastrar</button>
    </form>

    <div class="modal {{control.toggle}}" xs="1-12">
        <div class="modal-container">
            <h3 class="modal-header">Cadastro da EBD</h3>
            <div class="modal-content">
                <p>{{control.msg}}</p>
            </div>
            <div class="modal-footer">
                <button class="btn" type="button" ng-click="control.toggleModal()">Fechar</button>
            </div>
        </div>
    </div>
</section>