header {
    background-color: #006ca8;
}

header nav {
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px;
    text-align: center;
}

header figure, header img {
    padding: 0;
    margin:0;
    background-color: transparent;
}

header figure img {
    height: 60px;
    margin-top: 10px;
}