<div class="slider">
    <ul class="slides">
        
        <li>
            <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
            <div class="caption center-align">
                <h3>Lição 11: O Homem do Pecado</h3>
                <h5 class="light grey-text text-lighten-3">Diretamente da sede das Assembleias de Deus - Ministério do
                    Belém/SP - A aula será ministrada pelo Ev. Caramuru Afonso Francisco.</h5>
                <a routeLink="" class="btn waves-effect waves-light">Ler sobre a aula</a>
            </div>
        </li>

        <li>
            <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
            <div class="caption left-align">
                <h3>LIÇÃO 10 – SÓ O EVANGELHO MUDA A CULTURA HUMANA - 1º TRIM. DE 2020 (1Ts 1.1-10)
                </h3>
                <h5 class="light grey-text text-lighten-3">Diretamente da sede das Assembleias de Deus - Ministério do
                    Belém/SP - A aula será ministrada pelo Ev. Caramuru Afonso Francisco.</h5>
            </div>
        </li>

        <li>
            <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
            <div class="caption right-align">
                <h3>Lição 11: O Homem do Pecado</h3>
                <h5 class="light grey-text text-lighten-3">Diretamente da sede das Assembleias de Deus - Ministério do
                    Belém/SP - A aula será ministrada pelo Ev. Caramuru Afonso Francisco.</h5>
            </div>
        </li>

        <li>
            <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
            <div class="caption center-align">
                <h3>Lição 11: O Homem do Pecado</h3>
                <h5 class="light grey-text text-lighten-3">Diretamente da sede das Assembleias de Deus - Ministério do
                    Belém/SP - A aula será ministrada pelo Ev. Caramuru Afonso Francisco.</h5>
            </div>
        </li>

    </ul>
</div>