<style>
    footer {
        background-color: #006CA8;
    }

</style>

<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Escola Bíblica Dominical</h5>
          <p class="grey-text text-lighten-4">Uma iniciartiva da Igreja templo Central em Icó.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Menu</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" routeLink="/">Home</a></li>
            <li><a class="grey-text text-lighten-3" routeLink="">Clases</a></li>
            <li><a class="grey-text text-lighten-3" routeLink="">Sala dos Professores</a></li>
          </ul>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Endereço</h5>
            <p>Igreja Assembleia de Deus templo Central</p>
            <p>R. Jairo Almeirda Alencar, 1226</p>
            <p>São José, Icó - CE - 63.430-000</p>
          </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Copyright | By Lucas Costa
      <a class="grey-text text-lighten-4 right" routeLink="">Templo Central</a>
      </div>
    </div>
  </footer>
