<style>
    
    nav#nav { 
        background-color: transparent;
    }

    #nav a {
        color: #424242;
    }

    #nav img {
        height: 50px;
    }

</style>

<nav id="nav">
    <div class="nav-wrapper">
        <a routeLink="/" class="brand-logo"><img src="assets/images/e.png" alt="Escola bíblica Dominical"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routeLink="">Home</a></li>
            <li><a routeLink="">Classes</a></li>
            <li><a routeLink="">Sala dos Professores</a></li>
        </ul>
        <a href="" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>

    <ul id="slide-out" class="sidenav" >
        <li><a routeLink="/"><img src="assets/images/e.png" alt="Escola bíblica Dominical"></a></li>
        <li><a routeLink="">Home</a></li>
        <li><a routeLink="">Meditações</a></li>
        <li><a routeLink="">Classe Israel de Deus</a></li>
        <li><a routeLink="">Classe Rabi</a></li>
        <li><a routeLink="">Classe Rosa de Saron</a></li>
        <li><a routeLink="">Classe Gideões</a></li>
        <li><a routeLink="">Classe Kerigma</a></li>
        <li><a routeLink="">Classe Juniores</a></li>
        <li><a routeLink="">Classe Cordeirinhos</a></li>
        <li><a routeLink="">Classe Kerigma</a></li>
        <li><a routeLink="">Classe Discipilado</a></li>
        <li><a routeLink="">Sala dos Professores</a></li>
    </ul>
</nav>
